<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div id="taf-title-div">
				<p id="taf-title-text">threesandfives.com</p>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/blog">Blog</a></li>
					</ul>
				</nav>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jim.obrien@threesandfives.com">email</a></li>
	        		<li><a href="http://blog.threesandfives.com/">http://blog.threesandfives.com/</a></li>
				</ul>
			</footer>
		</body>
	</html>